@import "~bootstrap/scss/bootstrap";

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  // position: relative;
  font-family: 'Roboto condensed', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #d5d5d5 !important;
  letter-spacing: 1px !important;
  background-color: #000 !important;
  overflow: hidden !important;
  overflow-y: auto !important;
  scroll-behavior: smooth !important;
}

.main-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%; /* Ensures the height of the container is 100% of the viewport height */
  background-image: url(/assets/images/bg.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  // background-position: left 25%; /* Adjusts the position of the background image */
  background-attachment: scroll; /* Keeps the background fixed while scrolling */
  top: -6vh;
  left: -12vw;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .main-bg {
    left: -2vw;
  }
}



main {
  // display: flex;
  // flex-direction: column;
  // height: 100%;
  // justify-content: flex-end;
  // align-items: center;
}

section {
  min-height: 100vh !important;
}

q {
  text-decoration: none !important;
}

.streaming-h2,
.synopsis-h2,
.trailer-h2 {
  font-weight: 700;
}

.bg-invis {
  background-color: transparent !important;
}

.streaming-icon {
  width: 50%;
}

//** NAVBAR */
.navbar {
  background-color: #00000059;
}

.share-dropdown .show {
  min-width: 7rem !important;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-menu {
  background-color: #001a2d !important;
  text-align: center !important;
}

.show {
  display: flex !important;
}

.share-icon {
  height: 20px;
  margin: 5px;
  cursor: pointer;
}

.social-share-icons {
  margin: 0 !important;
  width: 33%;
}

.main-toggle {
  border: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.active {
  color: black !important;
  background: #d5d5d5 !important;
}

.navbar-offcanvas {
  background-color: #001a2d !important;
}

.offcanvas-body a {
  color: #d5d5d5;
}

.hashtag {
  color: #d5d5d5;
  padding: 20px 0 5px 0;
}

#social-main {
  // margin-top: -45px;
}

#social,
#social-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#social li,
#social-main li {
  list-style-type: none !important;
  cursor: pointer;
}



/** Facebook **/
.facebook {
  width: 40px;
  height: 40px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.facebook .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-facebook {
  font-size: 18px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  background: transparent;
}

//** Twitter **/
.twitter {
  width: 40px;
  height: 40px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.twitter .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.twitter .border:hover {
  background: #010e13;
  border-color: #72c6e6;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa-x-twitter {
  font-size: 18px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  background: transparent;
}

/** Instagram **/
.instagram {
  width: 40px;
  height: 40px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.instagram .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.instagram .border:hover {
  background: linear-gradient(to left, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8a3ab9, #4a69bb);
  border-color: #7495af;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-instagram {
  font-size: 18px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  background: transparent;
}

//*! HOMEPAGE **/
#home {
  // position: relative;
  // max-width: 100%;
  // display: flex;
  // justify-content: space-around !important;
  // align-items: flex-start;
  // width: 100%;
}

.title-block {

}

.variety-quote {
  font-family: 'IM Fell DW Pica', serif;
  color: #CEA661;
  font-size: 1rem;
}

.quick-buttons a {
  text-decoration: none;
}

.rainbow-button {
  --primary-neon: rgba(248, 248, 248, 0.787);
  --light-neon: rgba(111, 151, 188, 0.7);
  --pulse-neon: rgba(99, 175, 226, 0.654);
  --bright-neon: rgb(122, 222, 255);
  --off-neon: #ffffff;

  --neon-shadow: 0 0 3px 4px var(--light-neon), 0 0 7px 4px var(--light-neon) inset;
  --neon-shadow-pulse: 0 0 3px 5px var(--pulse-neon), 0 0 8px 5px var(--pulse-neon) inset;
  --neon-shadow-bright: 0 0 3px 4px var(--bright-neon), 0 0 8px 4px var(--bright-neon) inset;
  --neon-shadow-text: 0 0 3px var(--primary-neon);

  width: calc(12vw + 6px);
  height: calc(3vw + 6px);
  color: var(--primary-neon);
  text-shadow: var(--neon-shadow-text);
  border: 1px solid var(--primary-neon);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.4vw;
  // font-weight: bold;
  box-shadow: var(--neon-shadow);
  animation: flicker 5s linear infinite;
}

@keyframes flicker {
  0% {
    box-shadow: var(--neon-shadow);
  }

  45% {
    box-shadow: var(--neon-shadow-pulse);
  }

  90% {
    box-shadow: var(--neon-shadow);
    border-color: var(--primary-neon);
    color: var(--primary-neon);
    text-shadow: var(--neon-shadow-text);
  }

  90.01% {
    box-shadow: none;
    border-color: var(--off-neon);
    color: var(--off-neon);
    text-shadow: none;
  }

  94% {
    box-shadow: none;
    border-color: var(--off-neon);
  }

  94.01% {
    box-shadow: var(--neon-shadow);
    border-color: var(--primary-neon);
  }

  95% {
    box-shadow: var(--neon-shadow);
    border-color: var(--primary-neon);
  }

  95.01% {
    box-shadow: none;
    border-color: var(--off-neon);
  }

  95.5% {
    box-shadow: none;
    border-color: var(--off-neon);
  }

  95.51% {
    box-shadow: var(--neon-shadow);
    border-color: var(--primary-neon);
  }

  96% {
    box-shadow: var(--neon-shadow);
    border-color: var(--primary-neon);
  }

  96.01% {
    box-shadow: none;
    border-color: var(--off-neon);
  }

  96.5% {
    box-shadow: none;
    border-color: var(--off-neon);
  }

  96.51% {
    box-shadow: var(--neon-shadow-bright);
    border-color: var(--primary-neon);
  }

  100% {
    box-shadow: var(--neon-shadow);
    border-color: var(--primary-neon);
  }
}

.iconic-logo {
  width: 130px;
  max-width: 15%;
  position: absolute;
  right: 2%;
}

.gray-bg {
  background-color: #0c0c10;
}


//** TRAILER SECTION **/
.section-box {
  z-index: 8;
  max-width: 80vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//* SYNOPSIS SECTION **/
.synopsis-anchor {
  color: #d5d5d5;
}

.synopsis-rating-bug {
  max-height: 35px;
}

.synop-left {
  color: #2a9bcb;
}

//** INFO SECTION **/
.info-link {
  color: #d5d5d5;
  font-weight: 500;
  text-decoration: none;
}

.info-home-btn {
  font-size: 12px;
  font-weight: 500;
}

.info-link:hover {
  color: #8fafc5 !important;
}

/** FOOTER **/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: #000000;
  font-size: 9px;
  color: rgb(224, 226, 230);
  z-index: 2000;
  position: fixed;
  width: 100vw;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .rating-bug {
  position: absolute;
  left: 15px;
  width: 40px;
}

.footer-links a {
  display: inline-block;
  color: rgb(224, 226, 230);
  margin: 0 5px;
}

#offcanvasBottom * {
  background-color: #000000;
}

.copyright {
  color: rgb(224, 226, 230);
}

.credits-container {
  text-align: center;
}

.billing-block {
  max-width: 100%;
  background-color: #000000 !important;
}

.credits-btn {
  cursor: pointer !important;
  color: #f3f8fa !important;
  font-size: 9px !important;
}

.credits-btn::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.075em;
  content: "";
  border-top: 0;
  border-right: 0.4em solid transparent;
  border-bottom: 0.6em solid;
  border-left: 0.4em solid transparent;
}

.offcanvas * {
  background-color: #001a2d;
}

.offcanvas-body {
  padding: 0 !important;
}

.offcanvas-body ul {
  display: flex;
  justify-content: center;
  padding: 120px 0 0 0 !important;
}

/** clearFix **/
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}

@media screen and (min-width: 768px) {
  #home {
    // position: relative;
  }

  .title-block {

    // position: relative;
    // top: 0;
  }

  

  .variety-quote {
    font-size: 14px !important;
    // width: 75% !important;
  }

  .variety-quote span {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 992px) {
  .variety-quote {
    font-size: 18px !important;
    // width: 75% !important;
  }

  .variety-quote span {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1200px) {
  .variety-quote {
    font-size: 24px !important;
  }

  .variety-quote span {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1400px) {
  .variety-quote {
    font-size: 28px !important;
  }

  .variety-quote span {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 1650px) {
  .variety-quote {
    font-size: 32px !important;
    margin: 15px !important;
  }

  .variety-quote span {
    font-size: 24px !important;
  }
}



@media screen and (max-width: 1680px) {
  .section-box {
    // padding: 5vh 15px;
  }
}